
<div id="password-reset-content" class="content">
    <div class="form-container">
        <h2>Forget Password</h2>

        <form [formGroup]="resetPasswordForm" id="reset-password-form" (ngSubmit)="resetPassword()">
            <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="max@mustermann.com" formControlName="email" required>
            </mat-form-field>
            <button mat-raised-button class="red-btn" [disabled]="!resetPasswordForm.valid">Reset Password</button>
            <button mat-raised-button class="gray-btn" type="button" (click)="backToLogin()">Back to Login</button>
        </form>
    </div>
</div>