<div id="login">
    <img id="login-background-image" src="./assets/img/popcorn.jpg" alt="popcorn">

    <div id="login-header">
        <img id="login-header-logo" src="./assets/logo/videoflix.png" alt="logo">
    </div>
 
    <app-login-form *ngIf="!showRegister && !passwordReset" class="formcontainer" (showReg)="showReg()" (showPWReset)="showPWReset()"></app-login-form>
    <app-register-form *ngIf="showRegister && !passwordReset" class="formcontainer" (showLogin)="showLogin()"></app-register-form>
    <app-forget-password *ngIf="!showRegister && passwordReset" class="formcontainer" (showLogin)="showLogin()"></app-forget-password>

</div>