<div id="login">
    <img id="login-background-image" src="/assets/img/popcorn.jpg" alt="popcorn">

    <div id="login-header">
        <img id="login-header-logo" src="/assets/logo/videoflix.png" alt="logo">
    </div>
    <div id="login-content" class="content" *ngIf="!showRegister">
        <div class="form-container">
            <h2>LOGIN</h2>
            <form [formGroup]="LoginForm" id="login-form" (ngSubmit)="login()">

                <mat-form-field>
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="max@mustermann.com" formControlName="email" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hideLoginPW ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hideLoginPW = !hideLoginPW" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideLoginPW">
                        <mat-icon>{{hideLoginPW ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <button mat-raised-button class="red-btn" [disabled]="!LoginForm.valid">Login</button>

                <div class="form-error">
                    <span *ngIf="loginFailed">Login Failed - Please check username and password</span>
                </div>

            </form>

            <div id="login-register-container">
                <h3>Not registered yet?&nbsp; &nbsp;<a (click)="showRegister=true">Register now!</a></h3>

            </div>
            <div id="login-footer-container">
                <a href="">Datenschutz</a>
                <a href="">Impressum</a>
            </div>
        </div>
    </div>


    <div id="register-content" class="content" *ngIf="showRegister">
        <div class="form-container">
            <h2>Register</h2>
            <form [formGroup]="RegisterForm" id="register-form" (ngSubmit)="register()">

                <mat-form-field>
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="max@mustermann.com" formControlName="email" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hideRegisterPW ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hideRegisterPW = !hideRegisterPW" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideRegisterPW">
                        <mat-icon>{{hideRegisterPW ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirm your password</mat-label>
                    <input matInput [type]="hideRegisterConfirmPW ? 'password' : 'text'" formControlName="confirmPassword">
                    <button mat-icon-button matSuffix (click)="hideRegisterConfirmPW = !hideRegisterConfirmPW" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideRegisterConfirmPW">
                        <mat-icon>{{hideRegisterConfirmPW ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <div id="register-form-btn">
                    <button mat-raised-button class="gray-btn" type="button" (click)="showRegister=false">Back to Login</button>
                    <button mat-raised-button class="red-btn" type="submit" [disabled]="!RegisterForm.valid">Register</button>
                </div>

            </form>

        </div>
    </div>



</div>