<div id="reset-password">
    <div id="reset-password-container">
        <h2>RESET PASSWORD</h2>
        <form [formGroup]="resetPasswordForm" id="reset-password-form" (ngSubmit)="resetPassword()">

            <mat-form-field>
                <mat-label>Enter new password</mat-label>
                <input matInput [type]="hideResetPW ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hideResetPW = !hideResetPW"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideResetPW">
                    <mat-icon>{{hideResetPW ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Confirm new password</mat-label>
                <input matInput [type]="hideResetConfirmPW ? 'confirmPassword' : 'text'" formControlName="confirmPassword">
                <button mat-icon-button matSuffix (click)="hideResetConfirmPW = !hideResetConfirmPW"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideResetConfirmPW">
                    <mat-icon>{{hideResetConfirmPW ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button mat-raised-button class="red-btn"  type="submit" [disabled]="!resetPasswordForm.valid">Reset Password</button>

        </form>

    </div>
</div>