<div id="login-content" class="content" *ngIf="!showRegister">
    <div class="form-container">
        <h2>LOGIN</h2>
        <form [formGroup]="LoginForm" id="login-form" (ngSubmit)="login()" (keydown.enter)="$event.preventDefault()">

            <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="max@mustermann.com" formControlName="email" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hideLoginPW ? 'password' : 'text'" formControlName="password">
                <button type="button" mat-icon-button matSuffix (click)="hideLoginPW = !hideLoginPW" 
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideLoginPW">
                    <mat-icon>{{hideLoginPW ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button mat-raised-button class="red-btn" [disabled]="!LoginForm.valid || loginSpinner">Login</button>

            <div class="form-error">
                <span *ngIf="loginFailed">Login Failed - {{loginFailedMessage}}</span>
            </div>

        </form>

        <div id="login-register-container">
            <h3>Not registered yet?&nbsp; &nbsp;<a (click)="showRegisterForm()">Register now!</a></h3>
        </div>
        <div id="login-forgetPW-container">
            <h3>Forget Passsword?&nbsp; &nbsp;<a (click)="showPasswordReset()">Reset password here!</a></h3>
        </div>
        <div id="login-footer-container">
            <a (click)="goToPrivacyPolicy()">Datenschutz</a>
            <a (click)="goToPrivacyPolicy()">Impressum</a>
        </div>
    </div>
</div>