<div id="video-page-container">
            <div id="video-custom-controls">
                <div id="video-custom-controls-close">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close" (click)="backToHome()"></mat-icon>
                </div>
                <div id="video-custom-controls-quality">
                    <button mat-raised-button (click)="switchToOriginal()">Switch to Original</button>
                    <button mat-raised-button (click)="switchToQuality(480)">Switch to 480p</button>
                    <button mat-raised-button (click)="switchToQuality(720)">Switch to 720p</button>
                </div>
            </div>
            <div id="video-container">
                <video #myVideo controls autoplay (timeupdate)="setCurrentTime($event)">
                    <source id="videoSource" src="{{video.video_file}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div  *ngIf="!isSelectedVideoAvailable && !checkAvailabilityCurrently" id="video-container-not-available">
                <h1>Video is not available</h1>
                <span>If you uploaded video recently, maybe it is currently converting - please try again later</span>
            </div>  
</div>