/* You can add global styles to this file, and also import other style files */

html, body{
    font-family: 'Bebas Neue' !important;
    margin: 0px;
    background-color: #141414;
    color: white;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

h1{
  //margin: 0px;
}

h2{
    color: #DC1B27;
    font-size: 24px;
}
h3{
  margin-top: 0.5em;
}

.red-btn{
    background-color: #DC1B27 !important;
    color: white !important;
}
.gray-btn{
    background-color: gray !important;
    color: white !important;
}

button:disabled{
    opacity: 0.5;
}

mat-select, mat-option {
    display: block;
    width: auto;
  }

/* bebas-neue-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url( './assets/fonts/bebas-neue-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
