/* You can add global styles to this file, and also import other style files */

html, body{
    font-family: 'Bebas Neue' !important;
    margin: 0px;
    background-color: #141414; 
    color: white;
}

h2{
    color: #DC1B27;
    font-size: 24px;
}

.red-btn{
    background-color: #DC1B27 !important; 
    color: white !important;
}

/* bebas-neue-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url( './assets/fonts/bebas-neue-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
