.formcontainer {
    z-index: 1;
}

#login-header-logo {
    padding: 48px;
}

#login-background-image {

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(to top, #141414 40%, transparent 70%);
    filter: brightness(0.4);
}

.content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-container {
        min-height: 200px;
        max-height: 80vh;
        min-width: 300px;
        max-width: 80vw;
        background-color: rgba(71, 71, 71, 0.8);
        border-radius: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 48px;

        .hint{
            position: relative;
            top: -5px;
            font-size: 10px;
        }

    
        #confirmation-email-hint {
            display: flex;
            justify-content: center;

            span {
                text-align: center;
            }
        }

        #login-form {
            display: flex;
            flex-direction: column;

        }

        #register-form {
            display: flex;
            flex-direction: column;

            #register-form-btn {
                display: flex;
                flex-direction: row;
                gap: 12px;
            }
        }

        #login-register-container {
            padding-top: 24px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                text-decoration: none;
                cursor: pointer;
                color: #DC1B27;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        #login-footer-container {
            padding-top: 24px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            a {
                text-decoration: none;
                cursor: pointer;
                color: white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .form-error {
            color: #DC1B27;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 18px;
            padding-bottom: 18px;
        }
    }
}