
<div id="register-content" class="content">
    <div class="form-container">
        <h2>Register</h2>
        <form [formGroup]="RegisterForm" id="register-form" (ngSubmit)="register()" *ngIf="!showConfirmationEmailHint && !showSpinner" (keydown.enter)="$event.preventDefault()">

            <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="max@mustermann.com" formControlName="email" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hideRegisterPW ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hideRegisterPW = !hideRegisterPW" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideRegisterPW">
                    <mat-icon>{{hideRegisterPW ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirm your password</mat-label>
                <input matInput [type]="hideRegisterConfirmPW ? 'password' : 'text'" formControlName="confirmPassword">
                <button mat-icon-button matSuffix (click)="hideRegisterConfirmPW = !hideRegisterConfirmPW" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideRegisterConfirmPW">
                    <mat-icon>{{hideRegisterConfirmPW ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <div class="form-error" id="register-form-error" *ngIf="loginFailed">
                <span *ngFor="let message of loginFailedMessage; index as i;">{{message}}</span>
            </div>
            
            <div id="register-form-btn">
                <button mat-raised-button class="gray-btn" type="button" (click)="backToLogin()">Back to Login</button>
                <button mat-raised-button class="red-btn" type="submit" [disabled]="!RegisterForm.valid">Register</button>
            </div>
        </form>

        <div *ngIf="showConfirmationEmailHint" id="confirmation-email-hint">
            <span>Thanks for registration! <br/>Please activate your account using the link you received by email. <br/><br/>You will shortly be redirected to the login page.</span>
        </div>

        <div *ngIf="showSpinner">
            <mat-spinner></mat-spinner>
        </div>

    </div>
</div>