<div class="content">
  <div *ngIf="isModalVisible && !uploading" class="form-container">
    <div id="upload-form">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" placeholder="Title" (input)="onTitleChanged($event)">
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="description" placeholder="Description" (input)="onDescriptionChanged($event)">
      </div>

      <div class="form-group">
        <label for="videoFile">Video File:</label>
        <input type="file" id="videoFile" (change)="onVideofileChanged($event)">
        <div *ngIf="video_file">Selected File: {{ video_file.name }}</div>
      </div>

      <div class="form-group">
        <label for="posterFile">Poster File:</label>
        <input type="file" id="posterFile" (change)="onPosterfileChanged($event)">
        <div *ngIf="poster_file">Selected File: {{ poster_file.name }}</div>
      </div>

      <div class="form-group">
        <label for="genre">Genre:</label>
        <select id="genre" (change)="onGenreChanged($event)">
          <option value="Action">Action</option>
          <option value="Comedy">Comedy</option>
          <option value="Thriller">Thriller</option>
          <option value="Horror">Horror</option>
          <option value="Science Fiction">Science Fiction</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Romance">Romance</option>
          <option value="Adventure">Adventure</option>
          <option value="Crime">Crime</option>
          <option value="Animation">Animation</option>
          <option value="Mystery">Mystery</option>
          <option value="Documentary">Documentary</option>
          <option value="Other">Other</option>
        </select>
      </div>

      <div class="form-group">
        <button mat-raised-button class="red-btn" (click)="addVideo()">Add Video</button>
      </div>
    </div>

    <!-- Button to close the modal -->
    <button mat-raised-button type="button" class="gray-btn" (click)="closeModal()">Close</button>
  </div>
  
  <div class="progress-spinner-container">
    <mat-progress-spinner *ngIf="uploading" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>